<ion-view title="Creer une offre" >
    <ion-content ng-controller="MapsCtrl">
        <div id="map"> </div>

        <div ng-controller="StaticCtrl">
            <h3 class="title">Choisir le trajet</h3>
            <label class="item item-input item-select">
                <div class="input-label">
                    Ville:
                    <select id="country" ng-model="cities" ng-options="country for (country, cities) in countries">
                        <option value=''>Select</option>
                    </select>
                </div>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Quartier: <select id="city" ng-disabled="!cities" ng-model="suburbs" ng-options="city for (city, suburbs) in cities"><option value=''>Select</option></select>
                </div>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Lieu: <select id="suburb" ng-disabled="!suburbs" ng-model="suburb" ng-options="suburb for suburb in suburbs"><option value=''>Select</option></select>
                </div>
            </label>

        </div>
        <div class="list" >
            <label class="item item-input">
                <span class="input-label">Place disponible</span>
                <input type="number">
            </label>
            <label class="item item-input">
                <span class="input-label">Date de deppart</span>
                <input type="datetime-local">
            </label>
            <button class="button button-block button-calm">Ajouter cette Offre</button>
        </div>
    </ion-content>
</ion-view>




