
<ion-view title="Créer une offre">
    <ion-content ng-controller="MapsCtrl" data-ng-init="init()">
        <div id="map"> </div>

        <div ng-controller="StaticCtrl">
            <h3 class="title">&nbsp;Choisir le trajet</h3>
            <label class="item item-input item-select">
                <div class="input-label">
                    <i class="icon ion-ios-flag"></i>&nbsp;     Ville
                    <select id="country" ng-model="cities" ng-options="country for (country, cities) in countries">
                        <option value=''>Select</option>
                    </select>
                </div>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <i class="icon ion-ios-flag"></i>&nbsp;   Quartier <select id="city" ng-disabled="!cities" ng-model="suburbs" ng-options="city for (city, suburbs) in cities"><option value=''>Select</option></select>
                </div>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">

                    <i class="icon ion-ios-flag"></i>&nbsp; Lieu <select id="suburb" ng-disabled="!suburbs" ng-model="suburb" ng-options="suburb for suburb in suburbs"><option value=''>Select</option></select>

                </div>
            </label>


        </div>
        <div class="list" >

            <label class="item item-input item-select">
                <div class="input-label">

                    <i class="icon ion-ios-people"></i>&nbsp; Nombre de passagers
                    <select ng-model="placeDispo">
                        <option value='0'>Select</option>
                        <option value='1'>1</option>
                        <option selected value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                        <option value='6'>6</option>
                     </select>

                </div>
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-android-calendar"></i>&nbsp;Date de départ</span>
                <input type="datetime-local" ng-model="dateTrajet">
            </label>
            <button class="button button-block button-calm" ng-click="addOffer()">Ajouter</button>

        </div>

    </ion-content>
</ion-view>




