<ion-view view-title="Consultation">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-tabs class="tabs-icon-bottom tabs-dark tabs-color-active-light">
            <ion-tab title="Offre"  icon-off="ion-ios-list" icon-on="ion-ios-list">

                <ion-view>

                    <ion-content style="margin-top: -65px">

                          <div class="list" >

                        <a class="item item-icon-left" ng-repeat="offre in allOffer" ng-click="openModalOffer(offre)">


                            <div class="row">
                                <div class="col"> <img src="..\img\from_to_icon.png" class="icon icon-right" style="height: 30px; margin-top: 30px; margin-left: 15px;"></div>
                                <div class="col" style="margin-right: 150px"> <p>Technopolis </p>
                                    <p>{{offre.lieu}}</p></div>
                            </div>

                            <div class="row">
                                <div class="col"><i class="icon ion-android-calendar" style="font-size: 20px;  height: 30px; margin-top: 70px; margin-left: 15px;"></i></div>

                                <div class="col" style="margin-right: 150px"><p> Date: {{offre.dateTrajet}}</p></div>

                            </div>

                            <div class="row">
                                <div class="col"><i class="icon  ion-information-circled" style="font-size: 20px; height: 30px; margin-top: 103px; margin-left: 15px;"></i></div>
                                <div class="col" style="margin-right: 150px"><p> Nombre de places disponibles : {{offre.nombrePlace}}</p></div>
                            </div>

                        </a>


                    </div>


                    </ion-content>
                    <ion-footer-bar class="bar bar-footer" >
                        <a class="button  icon-right ion-chevron-right button-dark" href="#/menu/createOffer" style="width: 100%;" >Créer une offre</a>
                    </ion-footer-bar>
                </ion-view>
            </ion-tab>


            <ion-tab title="Demande"  icon-off="ion-ios-list" icon-on="ion-ios-list">
                <ion-view>
                    <ion-content style="margin-top: -65px">

                          <div class="list">

                        <a class="item item-icon-left" ng-repeat="demand in allDemand">
                            <div class="row">
                                <div class="col"> <img src="..\img\from_to_icon.png" class="icon icon-right" style="height: 30px; margin-top: 30px; margin-left: 15px;"></div>
                                <div class="col" style="margin-right: 150px"> <p>Technopolis </p>
                                    <p>{{demand.lieu}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col"><i class="icon ion-android-calendar" style="font-size: 20px; height: 30px; margin-top: 72px; margin-left: 15px;"></i></div>

                                <div class="col" style="margin-right: 150px"><p> Date: {{demand.dateTrajet}}</p></div>

                            </div>

                        </a>
                    </div>


                    </ion-content>
                    <ion-footer-bar class="bar bar-footer">
                        <!--<button title="Create Demand"  class="button button-block button-dark">Create Demand</button>-->
                        <a class="button  icon-right ion-chevron-right button-dark"  href="#/menu/createDemand" style="width: 100%">Créer une demande</a>
                    </ion-footer-bar>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
    <!--<div class="tabs tabs-background-dark ">
        <button class="tab-item tab-item-stable">Offre</button>
        <button class="tab-item">Demande</button>
    </div>-->


</ion-view>
