<ion-view view-title="Consultation">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-tabs class="tabs-icon-bottom tabs-dark tabs-color-active-light">
            <ion-tab title="Offre"  icon-off="ion-ios-list" icon-on="ion-ios-list">

                <ion-view cache-view="false">

                    <ion-content>

                          <div class="list">

                                        <a class="item item-icon-left" ng-repeat="offre in allOffer">
                                            <img src="..\img\from_to_icon.png" class="icon icon-right" style="height: 40px; margin-top: 25px;"></img>
                                            <p ><span>Trajet:</span>Technopolice - {{offre.lieu}}</p>
                                            <p> Date: {{offre.dateTrajet}}</p>
                                            <p> Nombre de place disponibile: {{offre.nombrePlace}}</p>
                                        </a>
                         </div>

                        <ion-footer-bar class="bar bar-footer">
                            <a class="button  icon-right ion-chevron-right button-dark" href="#/menu/createOffer" style="width: 100%;" >Creer une offre</a>
                        </ion-footer-bar>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Demande"  icon-off="ion-ios-list" icon-on="ion-ios-list">
                <ion-view>
                    <ion-content>

                          <div class="list">

                        <a class="item item-icon-left" >
                            <i class="icon ion-ios-navigate-outline"></i>
                            Demand 1
                        </a>

                        <a class="item item-icon-left" >
                            <i class="icon ion-ios-navigate-outline"></i>
                            Demand 2
                        </a>

                        <a class="item item-icon-left" >
                            <i class="icon ion-ios-navigate-outline"></i>
                            Demand 3
                        </a>

                        <a class="item item-icon-left" >
                            <i class="icon ion-ios-navigate-outline"></i>
                            Demand 4
                        </a>
                    </div>


                    </ion-content>
                    <ion-footer-bar class="bar bar-footer">
                        <!--<button title="Create Demand"  class="button button-block button-dark">Create Demand</button>-->
                        <a class="button  icon-right ion-chevron-right button-dark" style="width: 100%" href="#/menu/createOffer" >Creer une demande</a>
                    </ion-footer-bar>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
    <!--<div class="tabs tabs-background-dark ">
        <button class="tab-item tab-item-stable">Offre</button>
        <button class="tab-item">Demande</button>
    </div>-->


</ion-view>
