<ion-view title="Mes Offres">

    <ion-content ng-controller="memberOfferCtrl">
        <div class="buttons">
            <button class="button  button-icon icon ion-ios-minus-outline"
                    ng-click="onShowDeleteIcons()"></button>
        </div>

    <div class="list" class="item-remove-animate">

        <a class="item item-icon-left" href="#" ng-repeat="trajectUser in trajetsUser">
            <i class="icon ion-arrow-right-b"></i>
            {{trajectUser.lieu}} </br>
            {{trajectUser.dateTrajet}}</br>
            {{trajectUser.nombrePlace}}
        </a>


    </div>

    </ion-content>
</ion-view>