<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Demande</h1>
    </ion-header-bar>
    <ion-content ng-controller="modalCrtl">
        <div onload="initMapDemande()" id="map"></div>




        <div class="row">
            <img src="..\img\from_to_icon.png" class="icon icon-right" style="height: 30px; margin-top: 7px; margin-left: 15px;">
                        <div class="col" style="margin-right: 150px">

                Technopolis
                           <p style="margin-left: 0px;">{{lieuDemande}}</p>

                        </div>
        </div>

        <div class="row">
               <div class="col" style="margin-right: 150px">
                <i class="icon ion-android-calendar" style="font-size: 20px;  height: 30px; margin-top: 70px;margin-left: 15px;"></i>
                   Date et Heure : {{dateDemande.slice(0,-8).split('T')}}
            </div>

        </div>



        <button class="button button-dark button-block" ng-click="modalDemande.hide()">Contacter</button>
        <button class="button button-dark button-block" ng-click="modalDemande.hide()">Retour</button>

    </ion-content>
</ion-modal-view>