<ion-view view-title="Nous contacter">
  <ion-content>
<p>
	   Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum, cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit, pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.<br/>
</p>

<a class="button icon icon-right ion-chevron-right button-assertive " href="#/tab/sendMail">Send mail to us</a>
  </ion-content>
</ion-view>

