/* Empty. Add your own CSS if you like */
.menu.menu-left {
    background-image: url('../img/cgi-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pane{
    background-image: url('../img/cgi-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.oopsimage{
    height: 15%;
    width:  15%;
}


#map {

    height: 55%;
    width: 100%;
}

.scroll {
    height: 100%;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#mymap {

    height: 60%;
    width: 100%;
}

.PopupAvatar > .popup { border-radius: 20px !important; width: 100% }

